backend:
  name: git-gateway
  branch: main

media_folder: "public/images/uploads"
public_folder: "/images/uploads"

collections:
  - name: "blog"
    label: "Blog Posts"
    folder: "src/content/blog"
    create: true
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Description", name: "description", widget: "string" }
      - { label: "Publish Date", name: "pubDate", widget: "datetime" }
      - { label: "Hero Image Path", name: "heroImage", widget: "string", default: "../../assets/blog-placeholder-1.jpg", hint: "Use default placeholder or provide a custom path" }
      - { label: "Body", name: "body", widget: "markdown" }
